.agu{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: #3d3d3d;
}


.que_es{
    max-width: 70%; 
    margin: 0 auto;
    
}

.que_es p{
    margin: 50px 50px 50px 50px;
    line-height: 1;

}

.paris{
   display: block; 
   margin: 0 auto;
   width: 60%;
   height: auto;
}

.circuito{  
    display: block; 
    margin: 0 auto;
    width: 40%;
    height: auto;
 }

.descriptivo{
    font-style: italic;
    color: #555;
}


.aguita h3 {
    color: #3d3d3d; 
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 30px;
}

.Historia_agu{
    max-width: 70%; 
    margin: 0 auto;
    margin-bottom: 30px;

}

.Historia_agu p{
    color: #302f2f;
    line-height: 1.3;
}

.Historia_agu img{
    margin-top: 20px;
    width:30%;
    display: inline-block;
    margin-right: 10px;
    height: 300px;
    
}

.reglas_agu{ 
    max-width: 70%; 
    margin: 0 auto;
    margin-bottom: 30px; 

}


.reglas_agu p{
    color: #302f2f;
    line-height: 1.3;
}

.reglas_agu img{
    width: 50%;
    margin: 0 auto;
    display: block;
}


.modalidades{ 
    max-width: 70%; 
    margin-bottom: 30px; 
    margin: 0 auto; 
    
}
.modalidades p {
    color: #302f2f;
    line-height: 1.3;
}

.modalidades img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.campeones_agu {
    margin-bottom: auto;
    max-width: 70%;
    margin: 0 auto; 

}

.campeones_agu table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.campeones_agu th, td {
    border: 4px solid black;
    padding: 7px;
    text-align: left;
}
.campeones_agu th {
    background-color: antiquewhite;
}

.campeones_agu table th:first-child,
table td:first-child {
    width: 200px;
    height: auto;
}

.pais{
    width: 200px;
}

.pais img{
    display: block;
    margin: 0 auto;
    width: 90%;
   
}

.medalla{
    width: 154px;
}

.medalla img{
    display: block; 
    margin: 0 auto;
    width: 154px; 
    height: 108px;
}


