body {
    margin: 0;
    min-height: 100vh;
    background-color: bisque;
}
h3{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}
.historia h2 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}
.historia {
    margin: 70px 100px 100px 100px !important;
}

.titulo h2 {
    margin: 0%;
    color: black;

}
.reglas img{
    margin-right:10px ;
    width: 350px;
}
.reglas {
    width: 100%;
    display: flex;
}
.medallas h2 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}
.medallas {
    margin: 100px 100px 100px 100px;
    text-align: center;
}