body{
    margin: 0;
    background-color: white !important;
}

.Titulo{
    height: 70px;
    margin: auto;
    margin-top: 85px;
    border-radius: 10px;
}

.Titulo p {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
}

.form{
    background: linear-gradient(rgb(63, 63, 235), rgb(207, 207, 21), rgb(43, 39, 39), rgb(6, 117, 6), rgb(243, 59, 59));
    width: 25cm;
    height: 930px;
    margin: auto;
    align-content: center;
    border: solid rgb(143, 136, 35);
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 50px;
}

form {
    padding: 70px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: azure;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form h2 {
    text-align: center;
    font-family:'Arial';
    font-size: 40px;
    text-decoration: underline;
    border-radius: 24px;
    color: rgb(255, 255, 255);
}

.foto{
    height: 130px;
    width: 130px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.foto img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border: solid black;
}
textarea{
    resize: none;
}

.blancoo {
    color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .cabecera{
        font-size: 13px;
    }
    .form{
        background-color: bisque;
        width: 20cm;
        height: 930px;
        margin: auto;
        align-content: center;
        border: solid rgb(196, 189, 100);
        margin-top: 20px;
        border-radius: 20px;
        position: relative;
        margin-bottom: 50px;
    }
    .foto img{
        width: 90px;
        height: 90px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
        margin-left: 30px;
        border: solid black;
        position: right;
    }
    textarea{
        resize: none;
        width: 100%;
    }
    .form h2 {
        text-align: center;
        font-family:'Arial';
        font-size: 35px;
        text-decoration: underline;
        border-radius: 24px;
        color: black;
    }
    
    footer{
        margin-top: 20%;
    }
    
}