body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}



h1{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}
section {
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
h2 {
    color: rgb(22, 98, 197);
    padding:10px;
}
p {
    line-height: 1.6;
}

.Jugadores img {
    width: 866px;
    height: 500px;
    margin-top: 10px;
}


.Equipos h3 {
    text-align: center;
    margin-top: 30px;
    color: rgb(122, 133, 31);}

    .Equipos   ol {
    list-style-type: none;
    padding: 0;
  }
  .Equipos li {
    padding: 10px 0;
    border-bottom: 1px solid;
    border-color: #575757;
    font-size: 18px;
    color: #000000;
    counter-increment: item;
  }
 .Equipos li:before {
    content: counter(item) ".";
    margin-right: 10px;
    font-weight: bold;}

.campeones li{
    margin-bottom: 10px;
}


