.Titulo{
    background-color:lightseagreen;
    margin-top: 60px;
    width: 500px;
    height: 70px;
    margin-bottom: 10px;
}
.Titulo p{
    color: black;
}

.Lassedes{
    display: flex;
    margin:20px 100px 100px 100px;
    align-items: center;
}

iframe{
    height: 650px;
    width: 650px;
    margin: 20px;
    border-radius: 20px;
}
.Sedes{
    background-color: lightblue;
    height: 650px;
    width: 650px;
    opacity: 70%;
    margin: 30px;
    border-radius: 20px;
}
div h2{
    text-align: center;
    color: darkblue;
    margin-top: 10px;
    text-decoration:underline;
}
ul{
    margin-left: 10%;
}
li a{
    color: black;
}