.Titulo{
    background-color: yellow;
    margin-top: 60px;
    width: 500px;
    height: 70px;
    margin-bottom: 10px;
}
.Titulo p{
    color: black;
}

.Lassedes{
    position: relative;
}

iframe{
    margin-top:50px ;
    margin-left: 300px;
    height: 600px;
    width: 600px;
    margin-bottom: 45px;
}
.Sedes{
    background-color: lightblue;
    height: 600px;
    width: 600px;
    margin-left:1050px;
    margin-top:50px;
    position: absolute;

}