.carousel-inner {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin-left: 230px ;
    height: 100%;
    margin: auto;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 35px;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color:black;
    text-align: center;
    background-color: gray;
    opacity: 85%;
}

.carousel-control-next {
    margin-right: 120px;
}
.carousel-control-prev {
    margin-left: 120px;
}