.medallistas h2{
    text-align: center;
    color: black;
    font-size: 24px;
  }
  

.medallistas p{
  font-size: 16px;
  margin-top: 10px;
}

.deportes_equipo h3{
  font-size:20px ;
  text-align: center;
  color: rgb(48, 18, 215);
  margin-bottom:20px;
}


.deportes_equipo table{
  background-color: rgb(231, 199, 138);
  width: 70%;
  margin: 0 auto;
}





.medallistas table {
    border-collapse: collapse;
    margin-bottom: 30px;
    
}
  
.medallistas  th, td {
  border: 4px solid black;
  padding: 8px;
  text-align: left;
  }

.medallistas  td:first-child {
  width: 40px;
  height: 30px; 
}

.medallistas td:first-child img{
  width: 90px;

}

.deportes_individuales h3{
  font-size:20px ;
  text-align: center;
  margin-bottom:20px;

}
.deportes_individuales table{
  width:50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.equipo td{
  width: 500px;
  height: 243px;
}
.equipo img{
    width: 400px;
    height: 220px;
    display: block;
    margin: 0 auto;
  }


.bandera{
  width: 90px;
}

.bandera img{
  display: block;
  width: 100%;
  }


.oro{
  background-color: #f7e76d;
  width: 90px;
  height: 63px;
}

.plata {
  background-color: silver;  
  width: 90px;
  height: 63px
}

.bronce {
  background-color: #cd7f32;
  width: 90px;
  height: 63px
}

.oro img{
  display: block;
  margin: 0 auto;
  width: 100%;

}
.plata img{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.bronce img{
  display: block;
  margin: 0 auto;
  width: 100%;
}

