body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: bisque;
    min-height: 100vh;
}

.historia h2 {
    text-align: center;
    margin-bottom: 30px;
}

.historia {
    margin: 100px 100px 100px 100px;
    text-align: justify;
}

.reglas h2 {
    text-align: center;
    margin-bottom: 30px;
}

.reglas {
    margin: 100px 90px 100px 100px;
    text-align: justify;
}
.contenedor{
    display:flex;
}
.container{
    display: flex;
}
.flip-cardd{
    width:500px;
    height: 190px;
    perspective: 1000px;
    margin: 5px;
    border: solid black;
}

.flip-card {
    width: 180%;
    height: 400px;
    perspective: 1000px;
    display: flex;
    margin-left: 30px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-cardd:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.flip-card-front img{
    width: 100%;
    height: 100%;
}
.flip-card-front {
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back{
    background-color: green;
    color: #fff;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.gold{
    background-color: goldenrod;
}
.silver{
    background-color: silver;
    color: black;
}
.bronce{
    background-color:#bf8970;
}