body {
    margin: 0;
}

.cuerpo p {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cuerpo {
    width: 80%;
    margin: auto;
}

.card {
    padding-inline: 5px;
    float: left;
    margin-bottom: 20px;
    width: 23%;
}

.card_content:hover {
    border: 1px solid black;
}

.card_content:hover img {
    opacity: 1;
}

.card_content {
    border: 1px solid lightgray;
}

.card_content img {
    width: 100%;
    opacity: 0.5;
}

.card_content div {
    padding: 10px 20px;
    text-align: justify;
}

@media only screen and (max-width: 800px) {
    .card {
        width: 47%;
        padding-inline: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}
